
* {
    box-sizing: border-box;
}


/************************
HORIZONTAL NAVIGATION BAR 
************************/
section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

section li {
    float: left;
}

section li a {    
    font-family: Leelawadee UI;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 200px;
    text-decoration: none;
}

section li a:hover:not(.active) {
    background-color:#111;
}

.active {
    background-color: #4CAF50;     
}

/************************************/

body{
    margin: 0;
    background-color: #E4E3DF;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.food
{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

img.about
{
    max-width: 100%; 
    max-height:auto; 
}

#Logo{
    margin: 0;   
}

#LogoText {    
    margin: 0;
    font-family: Segoe Print;
    color: #3F3E3D;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #7A7977;
}

/****** FOR THE MAIN CONTENT ******/

a {    
    text-decoration: none;
}

h1 {
    font-family: Segoe UI Light;
    font-size: 22px;
    color: #3F3E3D;
}

h2 {
    font-family: Segoe UI Light;
    font-size: 18px;
    color: #787776;
}

 h3 {
     font-family: Segoe UI Light;
     float: right;
     font-size: 15px;
     margin-top: 4px;
     margin-right:250px;
     color: #787776;
 }

p {
    font-family: Segoe UI;
    font-size: 18px;
    color: #1A1A1A;
    padding-bottom: 25px;
}

/****************************************************/
div.container {    
    float: left;
    border: 2px solid #E4E3DF; 
    max-width:800px; 
    padding: 10px;
    margin: 10px 10px 10px 20px;
}

/*
div.container {
    margin:30px 300px 30px 300px;    
    padding-right: 100px;
    padding-top: 10px;
    border-style: solid;
    
}
*/

nav.greeting{    
    border: 2px solid #7A7977;
    float:left;
    padding:15px;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 150px;
    max-width: 350px;
}

nav.popular{
    margin-left: 20px;    
    margin-right: 100px;
    margin-top: 150px;
    margin-bottom: 150px;
    border: 2px solid #7A7977;
    max-width: 350px;
    padding: 15px 130px 15px 15px;
    float:left;
}

nav.space{    
    border: 2px solid #E4E3DF;
    float:left;
    padding-right:250px;
}

/*
nav.greeting{    
    border: 2px solid #7A7977;
    float:left;
    padding-left:20px;
    margin: 150px 100px 50px 100px;
    max-width: 350px;
}

nav.popular{
    border: 2px solid #7A7977;
    float:left;
    padding-left:20px;
    padding-right:175px;
    margin: 150px 100px 50px 100px;
    max-width: 400px;
}*/


article {
padding: 1em;
overflow: hidden;
}


/*article {
margin-left: 600px;
border-left: none;
padding: 1em;
overflow: hidden;
}

nav.about{
    border: solid;
    float: left;
    max-width: 550px;
    margin: 5px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-top: 20px;
}

*/

nav.about{
    float: left;
    max-width: 550px;
    padding-right: 35px;
}

input.comment {
    margin-top: 10px;
    float: right;
    margin-right: 0;
}

textarea {
    float:left;
    width: 100%;
    min-height: 250px;
    outline: none;
    border: 2px solid #7A7977;
}

nav ul{
    list-style-type: none;
    padding: 0px 50px 0px 0px;
}

nav ul a{
    text-decoration: none;
}

nav li a{    
    font-family: Segoe UI;    
    display: block;
    font-size: 18px;
    color: #3C3C3C;
    text-align: left;
    text-decoration: none;
}

 input.like{
     float:left;
 }

 video {
     max-width: 100%;
     height: auto;
 }

 footer {
    padding: 8px;
    font-family: Segoe UI Light;
    font-size: 18px;
    color: white;
    background-color: #3F3C3C;
    clear: left;
    text-align: center;
 }
